<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <Link type="text/css" rel="StyleSheet" href="style.css"/>    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
</head>

<body>

    <h1> My Birthdays </h1>

    <div id="loader"> 
        <div class="loading"></div>

    </div>
    
    <div id="list">
        <input v-on:change="search()" type="search" placeholder="Rechercher une personne...">
        <div class="friendsList" v-for="(friend, index) in friends" v-on:click="displayProfile(index)">
            <img :src="friend.picture ? friend.picture : 'profile.svg'"  alt="">
                    <div class="flexCol">
                        <h3>{{ friend.name }}</h3>
                        <span>{{ friend.birthdate }}</span>
                    </div>
                    <span class="countdown"> {{ getAge(friend.birthdate)+1 }} years old 
                       <br> in  {{ countdown(friend.birthdate) }} 
                        days </span>
              
                
        </div>

        <p v-if="!friends.length"> C'est vide par ici... <br>
            Commencez par ajouter vos amis ainsi que leurs annversaires !  </p>

<!-- FIELDS MODAL -->
<h2  v-on:click="displayBloc = !displayBloc"> <i class="fas fa-trash-alt"></i> {{addOption}} </h2>
<div class="lightbox" v-bind:class="{LBDisp : displayBloc}"></div>
        <div id="addBirthday" v-bind:class="{test : displayBloc}" >

            
                <div class="handle"></div>
                <h2  v-on:click="displayBloc = !displayBloc"> {{addOption}} </h2>

            
                <form v-on:submit.prevent v-bind:class="{hide : !displayForm}" >
                    <label for="inputName"> Name </label>
                    <input v-model="inputName" placeholder="Enter a name"> <br>
                    <label for="inputBirthdate"> Birth date </label>
                    <input v-model="inputBirthdate" type="date" placeholder="Enter a birthdate"> <br>
                    <label for="inputPicture"> Picture </label>
                    <input v-model="inputPicture" placeholder="Enter an image URL adress"> <br>
                    <button v-on:click="addFriend"> Add </button>
                </form>

                <form v-on:submit.prevent v-bind:class="{hide : displayForm}">
                    <input v-model="inputPresent" placeholder="Indiquez un cadeau"> <br>
                    <input v-model="inputYear" placeholder="Pour l'année..."> <br>
                    <button v-on:click="addPresent()"> Add </button>
                </form>
        </div>

<!-- PROFILE  -->
        <div id="profile" v-for="element in profile"> 
            <div class="upperProfile">
                
                <div class="profileBar">
                    <button v-on:click="closeProfile"> Retour </button>
                    
                    <button v-on:click="removeFriend()"> Supprimer </button>
                </div>
                <h3> Profile </h3>

                <img v-if="element.picture" :src="element.picture" alt="">
                <img v-else :src="element.picture" alt="">
            </div>
                <div class="profileInfo">
                    <h2> {{ element.name}} <b>{{ getAge(element.birthdate) }}</b> </h2> 
                    <span>{{ element.birthdate}} </span> <br>
                </div>
                
                <ul >
                    <li v-for="present in element.presents">  
                        <span class="present">{{ present.gift }}</span> 
                        <span>{{ present.year }}</span> </li>
                </ul>



        </div>


    </div>


    <script type="text/javascript" src="script.js"></script>
</body>
</html>    


