@font-face {
    font-family: 'Inter Regular';
    font-style: normal;
    font-weight: normal;
    src: url('font/Inter-Regular.woff') format('woff'), url('font/Inter-Regular.ttf') format('ttf');
    }
    
@font-face {
    font-family: 'Inter SemiBold';
    font-style: normal;
    font-weight: normal;
    src: url('font/Inter-SemiBold.woff') format('woff'), url('font/Inter-SemiBold.ttf') format('ttf');
    }

@font-face {
    font-family: 'Inter Light';
    font-style: normal;
    font-weight: normal;
    src: url('font/Inter-Light.woff') format('woff'), url('font/Inter-Light.woff') format('ttf');
    }

html {
    background-color: rgb(251, 251, 251);
}

.btn {
    background-color: #42BDE3;
    color: white;
    width: 100%;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 4;
    font-size: 14px;
}

body {
    background-color: white;
    font-family: Inter Light;
    max-width: 440px;
    margin: auto;
    margin-bottom: 15%;
    padding: 5px;
}

h1 {
    margin-top: 15%;
    text-align: center;
    font-family: 'Inter SemiBold';
}

input {
    width: 100%;
    border-radius: 24px;
    font-size: 16px;
    border: solid 1px rgb(204, 204, 204);
    background-color: rgb(245, 240, 240);
    padding: 12px;
    margin-top: 10px;
    margin-bottom: 10%;

}

button {
    width: 120%;
    border-radius: 24px;
    font-size: 16px;
    background-color: #42BDE3;
    padding: 12px;
    color: white;
    border: none;
    margin-top: 25px;
    margin-left: -10%;
}

input:focus {
    outline: solid 2px #42BDE3;

}

#addBirthday {
    width: 100%;
    max-width: 440px;
    height: 70%;
    color: black;
    font-family: 'Inter Regular';
    position: fixed;
    bottom: -100%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 8;  
    transition: 0.2s ease-in;
    background-color: white;
    border-radius: 15px 15px 0 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#addBirthday span {
    color: #42BDE3;
    margin-top: 15px;
}

#addBirthday input {
    width: 110%;
    margin-left: -10%;
    margin-bottom: 0;
}

.handle {
    height: 5px;
    width: 50px;
    background-color: rgb(231, 231, 231);    margin-right: auto;
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    display: flex;
    align-self: center;
}

.lightbox {
    display: none;
    background-color: rgb(3, 3, 3);
    opacity: 0.8;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 7;
    width: 100%;
    height: 100%;
}

.LBDisp {
    display: block;
}

.test {
    bottom: 0 !important;
}

.hide {
    display: none;
}

#profile {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    background-color: white;
    height: 100vh;
    width: 100%;
    max-width: 440px;
    transition: 0.2s ease-in;
}



.friendsList {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 0px 10px 0px;
    padding-bottom: 10px;
    border-bottom: 2px solid rgb(204, 204, 204) ;
    
}

.friendsList h3 {
    margin: 0;
    color: #42BDE3;
    font-family: 'Inter Regular' ;
}

.friendsList img {
    width: 65px;
    height: 65px;
    object-fit: cover;
    border-radius: 12px;
    background-color: #42BDE3;
    
}

.flexCol {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.countdown {
    font-size: 14px;
    color: #BDBDBD;
}

.upperProfile {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: #42BDE3;
    color: white;
    font-size: 30px;
    height: 250px;
}

.upperProfile h3 {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
}



.upperProfile img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: white 4px solid;
    background-color: hotpink;
    object-fit: cover;
    margin: auto;
    box-shadow: 0px 3px 10px rgba(71, 71, 71, 0.178);
}

#profile h2 {
    font-family: Inter SemiBold;
    margin: 0;

}
#profile ul {
    padding: 0;
    margin-top: 32px;
    width: 100%;
}

.profileBar {
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.upperProfile button {
    color: white;
    background-color: transparent;
    border: none;
    font-size: 16px;
    margin: 15px;
}

.present {
    font-family: 'Inter SemiBold';
}

.present::before {
    content: "\2B24";
    color: #42BDE3;
    margin-right: 15px;
}

#profile li {

    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #bdbdbd6e;
}

.profileInfo {
    text-align: center;
    margin-top: 52px;
}

#loader {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    transition: 2s;
}

.loading {
    position: absolute;
    top: 20%;
    left: calc(50% - 50px);
    width: 100px;
    height: 100px;
    border: solid 0px transparent;   
    border-top: 2px solid #42b5e3;
    border-radius: 50%;
    z-index: 500;
    animation: spin 0.8s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}